.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.wrapper {
  display: flex;
}

.cell {
  display: inline-block;
  flex-shrink: 0;
  width: 200px;
  vertical-align: middle;
  flex: auto;
  padding: 15px;
}

.likes {
  vertical-align: bottom;
}
